
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body, html, hi{
    margin:0;
}

body{
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #5f9b91;
    color: white;
    padding: 20px;
    text-align: center;
}

p{
    font-size: 22px;

}

canvas{
    border: 1px solid black;

}